/* --------------------------------------------------------------

   grid.css
   * Sets up an easy-to-use grid of x columns.

   Use grid.less in most situations. This "lite" version is added
   as a convenience so .span functions etc can be used in secondary / additional
   css/less files without including the entire set.	

-------------------------------------------------------------- */

@column: 30px;
@margin: 10px;


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column () {
	float: left;
	margin-right: @margin;
}
.span (@level: 1) {
	.column;
	width: (@level * @column) + ((@level - 1) * 10px);
}

/* The last column in a row needs this class. */
.last { margin-right: 0 !important; }